*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;}


body{
  background-image: url("images/classlistbg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover ;
  background-color: black;
}


main{
  height: 100vh;
  
}

#gradpiccont{
  width: 92%;
  height: 40rem;
  margin: 3rem;
  background-image: url("images/darkbrown.jpg");
  background-attachment: fixed;
  animation: pic_in;
  animation-duration: 1.5s;
  border: black 2px solid;
  margin-bottom: 5rem;
  display: flex;
  justify-content:
  
}

#navbgclasslist{
  height: 7vh;
  width: 90%;
  margin: 3rem;
  background-image: url("images/navbg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 5px solid;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
  animation: appear 1s;}



.classlistheader{
  font-family: "Walter Turncoat";
  color: bisque;
  font-size: 3rem;
  letter-spacing: 2rem;
  animation: pic_in 3.5s
}

.gobackhome_list{
  width: 30%;
  border: black 3px solid;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
  animation: pic_in;
  animation-duration: 2.5s;
  text-align: center;
  border-radius: 50px;
  margin: auto;
  overflow: hidden;
}
.gobackhome_list:hover{
  filter: brightness(70%)
}

.gobackhome_list li{
  list-style-type: none;
  background-image: url("images/homeclasslistbg.jpg");
  
}

.gobackhome_list a{
  font-family: "Walter Turncoat";
  color: darkolivegreen;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  font-weight: bolder;
  display: block;
  width: 100%;
  height: 100%;
}




#gradpic{
  width: 95%;
  height: 100%;
  object-fit: contain;
  margin-left: 2.5%
  
}

@keyframes pic_in{
  from{opacity: 0}
  to{opacity: 1}
}

@keyframes appear{
  from{ width : 0}
  to{ width: 90%}
}

.stem3textcontainer{
  border: black 3px solid;
  height: 20vh;
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 6rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-image: url("images/wood.jpg");
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
  animation: pic_in;
  animation-duration: 2.5s;
  border: black 3px solid
}

.stem3{
  margin: auto;
  height: 80%;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-image: url("images/blackboard.jpeg");
  width: 90%;
  border: black 2px solid;
  
  
}

#stem3text{
  font-family: "Walter Turncoat";
  font-size: 3.8rem;
  color: whitesmoke
}

.advisercontainer{
  border: black 3px solid;
  height: 5vh;
  width: 60%;
  margin: auto;
  border-radius: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
  animation: pic_in;
  animation-duration: 2.5s;
  background-image: url("images/whitecanvasbg.jpg");
  animation: pic_in 3.5s
}

.advisertext{
  justify-self: center;
  align-self: center;
  font-family: "Walter Turncoat";
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.boxnisiranthon{
  border: black 3px solid;
  height: 20vh;
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 3rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
  animation: pic_in;
  animation-duration: 2.5s;
  background-image: url("images/whitecanvasbg.jpg");
  justify-content: space-evenly
}

.picturenisir{
  height: 90%;
  width: 28%;
  margin: auto;
  
}



.descriptionnisir{
  height: 90%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column
  
}

.mukhanisir{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.aboutsir{
  font-family: "monospace";
  display: block;
  margin: 1rem;
  font-size: 1.5rem
}

.ch{
  font-size: 1.8rem;
  line-height: 2.5rem
}
.highlight{
  background-color: yellow;
}


.studentscontainer{
  width: 50%;
  height: 5rem;
  border: black 2px solid;
  margin: auto;
  border-radius: 50px;
  background-image: url("images/whitecanvasbg.jpg");
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
  align-content: center;
  text-align: center;
  animation: pic_in 3.5s
}


.studentstext{
  justify-self: center;
  align-self: center;
  font-family: "Walter Turncoat";
  font-size: 3rem;
  letter-spacing: 0.5rem;
  
}

.classlistcontainer{
  width: 69%;
  height: 32rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  animation: pic_in 3.5s;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
}

.stem3classlist{
  height: 100%;
  width: 100%;
  object-fit: contain;
  
}

.blankbox{
  height: 3rem;
  width: 100%
}


.forbg{
  background-image: url("images/navbg.jpg");
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5), 6px 6px 15px rgba(0,0,0,1);
  padding: 2rem;
  width: 95%;
  margin: 2.5% auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 5rem;
  border: black 2px solid
}


.forbg1{margin-top: 8rem}
.forbg2{
  margin-top: 12rem;
  margin-bottom: 8rem
  
}