*{
  padding: 0px;
  margin: 0px
}

*::selection {
  background: transparent;
  color: inherit;
  -webkit-text-stroke: 1px black;
  
}


body{
  background-image: url("images/memoriesbg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover ;
  background-color: black;

}

.memorytextcont{
  width: 90%;
  height: 20rem;
  margin: 5% auto;
  background-image: url("images/vintagebgbutton.jpg");
  background-attachment: fixed;
  mask: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-composite: intersect;
  display: flex;
  justify-content: center;
  animation: fadein;
  animation-duration: 5s;
  box-shadow: 3px 3px 0px white;
  
  
}

.memorytext{
  text-align: center;
  font-family: "Henny Penny";
  letter-spacing: 0.5rem;
  font-size: 8rem;
  align-self: center;
  mask: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
  mask-composite: intersect;
  color: whitesmoke;
  text-shadow: 5px 5px 20px black;
  animation-delay: 3s;
  animation: floating;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
  
}

@keyframes fadein{
  from{opacity: 0}
  to{opacity: 1}
}

.homenavbutton{
  border: black 2px solid;
  width: 35%;
  margin: auto;
  border-radius: 30px;
  background-image: url("images/memorytextbg.jpg");
  background-attachment: fixed;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: fadein;
  animation-duration: 5s;
  transition: all 0.3s
}

.homenavbutton:hover{
  filter: brightness(70%)
  
  
}


.homenavbutton li{
  list-style-type: none;
}

.homelink{
  color: black;
  text-decoration: none;
  font-size: 4rem;
  display: block;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1rem;
  color: #262626;
  margin: auto;
  align-self: center
}

@keyframes floating{
  0%{transform: rotate(0deg) scale(1)}
  20%{transform: rotate(2deg) scale(1.1); color: #7B4B36}
  40%{transform: rotate(-1deg) scale(0.9); color: #AB6B4B}
  60%{transform: rotate(1deg) scale(1); color: #84342D}
  80%{transform: rotate(-1deg) scale(0.9); color: #DDCBB7}
  100%{transform: rotate(0deg) scale(1)}
}

.mailiconcont{
  margin: auto;
  margin-top: 7rem;
  width: 13rem;
  height: 13rem;
  transition: all 0.5s;
  animation: fadein;
  animation-duration: 5s;
}

.mailicon{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

@keyframes scaling{
  25%{transform: scale(0.9)}
  50%{transform: scale(1.1)}
  75%{transform: scale(0.9)}
}

.mailiconcont:hover{
  transform: scale(1.3)
}

.mailiconcont:hover ~ .hiddenmessagecont{
  width: 80%;
  height: 18rem;
  filter: brightness(100%)
}


.hiddenmessagecont{
  width: 0;
  height: 0;
  margin: auto;
  transition: all 1s;
  overflow: hidden;
  background-image: url("images/letterbg.jpg");
  box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.5);
  filter: brightness(40%)
  
}

.hiddenmessage{
  font-family: monospace;
  font-size: 2rem;
  color: black;
}

.timelinecont{
  height: 10rem;
  width: 90%;
  margin: auto;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  background-image: url("images/timelinebg.jpg");
  mask: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-composite: intersect;
  box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.5);
  animation: fadein;
  animation-duration: 5s
}

.timeline{
  align-self: center;
  font-family: "Vast Shadow";
  font-size: 5rem;
  letter-spacing: 0.8rem;
  color: #84342D;
  animation: fadein;
  animation-duration: 5s
  
  
}

/*FOR MONTHS*/

.monthscontainer{
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  animation: fadein;
  animation-duration: 5s
}

.yearcont{
  width: 55%;
  height: 6rem;
  border: white 2px solid;
  margin: auto;
  margin-top: 7rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background-image: url("images/whitecanvasbg.jpg");
  
}
.year{
  font-family: monospace;
  letter-spacing: 2rem;
  font-size: 4rem;
  margin: auto
  
}

.months{
  width: 90%;
  height: 20rem;
  border: white 2px solid;
  margin: auto;
  margin-top: 5rem;
  border-radius: 15rem;
  display: flex;
  flex-direction: column
}


.august{
  background-image: url("images/blurredaug.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}

.august:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.augusttext{
  transition: all 1.5s
}

.august:hover .augusttext{
  font-size: 6rem;
  color: #C2A887;
}



.monthtext{
  font-size: 5rem;
  font-family: "Fontdiner Swanky";
  margin: auto;
  justify-self: center;
  color: white
}

.monthbutton{
  height: 3rem;
  width: 30%;
  margin: auto;
  margin-top: 3rem;
  background-image: url("images/buttonbg.jpg");
  border-radius: 50px;
  overflow: hidden;
  transition: all 1s;
  border: white 2px solid
}


.augbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}

.augbutton{
  transition: 1s
}
.august:hover ~ .augbutton{
   width: 80%
}


.septbutton{
  transition: 1s
}
.september:hover ~ .septbutton{
   width: 80%
}


.octbutton{
  transition: 1s
}

.october:hover ~ .octbutton{
   width: 80%
}


novbutton{
  transition: 1s
}

.november:hover ~ .novbutton{
   width: 80%
}



.decbutton{
  transition: 1s
}

.december:hover ~ .decbutton{
   width: 80%
}



.janbutton{
  transition: 1s
}

.january:hover ~ .janbutton{
   width: 80%
}

.febbutton{
  transition: 1s
}

.february:hover ~ .febbutton{
   width: 80%
}


.marbutton{
  transition: 1s
}

.march:hover ~ .marbutton{
   width: 80%
}



.aprbutton{
  transition: 1s
}

.april:hover ~ .aprbutton{
   width: 80%
}



.monthlink{
  text-decoration: none;
  color: black;
  display: block;
  
}

.monthlink:visited{
  color: black
}


/*SEPTEMBER*/

.september{
  background-image: url("images/septbg.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.september:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.septtext{
  transition: all 1.5s
}

.september:hover .septtext{
  font-size: 7rem;
  color: #C2A887;
}


.septbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}


.october{
  background-image: url("images/oct.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.october:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.octtext{
  transition: all 1.5s
}

.october:hover .octtext{
  font-size: 7rem;
  color: #C2A887;
}


.octbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}

.november{
  background-image: url("images/nov.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.november:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.novtext{
  transition: all 1.5s
}

.november:hover .novtext{
  font-size: 7rem;
  color: #C2A887;
}


.novbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}

.december{
  background-image: url("images/decbg.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.december:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.dectext{
  transition: all 1.5s
}

.december:hover .dectext{
  font-size: 7rem;
  color: #C2A887;
}


.decbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}


.yearcont{
  width: 55%;
  height: 6rem;
  border: white 2px solid;
  margin: auto;
  margin-top: 7rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background-image: url("images/whitecanvasbg.jpg");
  
}
.year{
  font-family: monospace;
  letter-spacing: 2rem;
  font-size: 4rem;
  margin: auto
}

.yr2025{
  margin-top: 8rem
}

.january{
  background-image: url("images/janbg.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.january:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.jantext{
  transition: all 1.5s
}

.january:hover .jantext{
  font-size: 7rem;
  color: #C2A887;
}


.janbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}


.february{
  background-image: url("images/febbg.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.february:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.febtext{
  transition: all 1.5s
}

.february:hover .febtext{
  font-size: 7rem;
  color: #C2A887;
}


.febbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}


.march{
  background-image: url("images/marbg.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.march:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.martext{
  transition: all 1.5s
}

.march:hover .martext{
  font-size: 7rem;
  color: #C2A887;
}


.marbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}


.april{
  background-image: url("images/apr.jpg");
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px black;
  transition: all 1s
}


.april:hover{
  width: 100%;
  height: 23rem;
  box-shadow: 7px 7px 15px white, 9px 9px 20px white
}

.aprtext{
  transition: all 1.5s
}

.april:hover .aprtext{
  font-size: 7rem;
  color: #C2A887;
}


.aprbuttontext{
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: black;
  list-style-type: none;
  margin: auto;
  padding: 1rem auto;
  
}

