*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

*::selection {
  background: transparent;
  color: inherit;
  -webkit-text-stroke: 1px black;
}

html {
  scroll-behavior: smooth;
}

body{
  background-image: url("images/augpage.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover ;
  background-color: black;
  animation: fadein;
  animation-duration: 2s
}


.monthtextcont{
  height: 25rem;
  width: 80%;
  border: black solid 2px;
  margin: auto;
  display: flex;
  border-radius: 30px;
  margin-top: 5rem;
  justify-items: center;
  align-items: center;
  box-shadow: 5px 5px 20px black;
  -webkit-text-stroke: 1px black;
  
}


.augusttextcont{
  background-image: url("images/augtextbg.jpg");
  }


.monthtext{
  font-size: 10rem;
  font-family: Slackey;
  margin: auto;
}

.augusttext{
  color: antiquewhite;
  font-size: 6rem;
  display: block;
  text-align: center
  
  
}

.navbarcont{
  background-image: url("images/navaugbg.jpg");
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  border-radius: 60px;
  border: 2px solid black;
  box-shadow: 3px 3px 20px black;
  overflow: hidden
  
  
}

.navbarcont ul{
  list-style-type: none;
}



.nav{
  padding: 2rem;
  display: block;
  text-align: center;
  color: bisque;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
  font-size: 3rem;
  font-family: Frijole;
}

.nav1{
  border-bottom: 2px solid black
}
  

.maincont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  margin-top: 15rem;
}


.labelcont{
  background-image: url("images/paperbg.jpg");
  box-shadow: 3px 3px 20px black;
  width: 40%;
  height: 5rem;
  display: flex;
  border-radius: 20px;
  margin: auto
}

.firstdaytext{
  font-size: 3rem;
  font-family: Frijole;
  justify-self: center;
  align-self: center;
  margin: auto;
  color: darkolivegreen;
  -webkit-text-stroke: 0.1px black;
  
}

.piccont{
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
  margin-top: 4rem;
}
.piccont2{
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
  margin-top: 3rem;
}

.piccont3{
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
  margin-top: 4rem;
}

.firstdaypic{
  object-fit: contain;
  width: 100%
}

.augninepic{
  object-fit: contain;
  width: 100%
}

.trishanfpic{
  object-fit: contain;
  width: 100%
}

@keyframes fadein{
  from{opacity: 0}
  to{opacity: 1}
}

.labelcontend{
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 90%;
  height: 2rem;
  box-shadow: 5px 5px 15px black
}


.commentcontainer{
  margin: auto;
  margin-top: 3rem;
  height: 8rem;
  padding: 1rem;
  width: 70%;
  border: black 2px solid;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 10px black;
  background-image: url("images/commentbg.jpg");
}

.comment{
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
}


.piccont4{
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  border-radius: 20px
}

.performance{
  object-fit: contain;
  width: 100%
}



.labelcontendthin{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  height: 1rem;
  box-shadow: 5px 5px 15px black
}



.piccont5{
  width: 77%;
  margin: auto;
  overflow: hidden;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 20px
}

.comment2{
  text-align: center;
  margin: auto;
}

.piccont6{
  width: 95%;
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
  margin-top: 4rem;
}

.experiment1cont{
  background-image: url("images/paperbg.jpg");
  box-shadow: 3px 3px 20px black;
  width: 60%;
  height: 5rem;
  display: flex;
  border-radius: 20px;
  margin: auto
}

.piccont7{
  width: 95%;
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
  margin-top: 4rem;
}

.exp1{
  width: 100%;
  height: 100%;
  object-fit: contain
}

.piccont8{
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.jessiart{
  width: 100%;
  height: 100%;
  object-fit: contain
}

.piccont9{
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: black 2px solid;
  box-shadow: 3px 3px 10px black
}

.piccont10{
  width: 95%;
  margin: auto;
  overflow: hidden;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  border-radius: 20px
}

.teacheraka{
  object-fit: contain;
  width: 100%
}


.blank{
  width: 100%;
  height: 10rem;
  
}
